<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>La Perla Nera</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

  </head>
  <body>


<div class="container mt-5">
  <div class="col prova">
  <div class="row mx-3 ">
    <!--PRIMO BOTTONE-->
    <div class="col text-center">
      <a class="btn btn-light btn-lg px-5 py-5 " href="second" role="button" style="background-color: #c9c9c998; box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
      inset -2px -2px 3px rgba(0, 0, 0, .6); color: rgb(104, 102, 102); "> DASHBOARD ADMIN <br> Medico-Caposala</a>
    </div>
    <!--SECONDO BOTTONE-->
    <div class="col text-center">
      <a class="btn btn-light btn-lg px-5 py-5 " href="second" role="button" style="background-color: #c9c9c998; box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
      inset -2px -2px 3px rgba(0, 0, 0, .6); color: rgb(104, 102, 102);"> DASHBOARD USER <br> Operatore</a>
    </div>
  </div>
</div>
</div>


      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>


    </body>


</html>
