<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>La Perla Nera</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

  </head>
  <body>


<div class="container mt-5 ">
  <div class="col content">
  <h3 class="text-center my-4">Elderly Care</h3>

  <div class="row mx-5">
        <div class="col  w-50 p-3 ">
          <label for="name" class="col mb-2" >USERNAME</label>
          <input type="text" name="name" style="height:35px; width:300px;" class="form-control" >
        </div>
  </div>
  <div class="row mx-5">
          <div class="col  w-50 p-3">
          <label for="password" class="col-md-4 mb-2" >PASSWORD</label>
          <input type="password" name="password" style="height:35px; width:300px;" class="form-control">
        </div>
  </div>


  <div class="form-group form-check ms-4">
    <input type="checkbox" name="checkbox" class="form-check-input" id="checkbox">
    <label class="form-check-label mb-4" for="checkbox">Remember Me</label>
  </div>
  <a role="button" type="button" class="btn btn-dark ms-5 px-5"  style="height:35px; width:335px;"  href="second">Accedi</a>
</div>
</div>




      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>


    </body>


</html>
